body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px; /* Fixed width for the question card */
}

#question-container {
    margin-bottom: 20px;
    text-align: left;
}

#question-container p {
    display: flex;
    justify-content: flex-start;
}

#question-container strong {
    margin-right: 10px;
}

#choices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
}

.choice:hover {
    background-color: #0056b3;
}

#skip-button, #hint-button, .game-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

#skip-button:hover, #hint-button:hover, .game-button:hover {
    background-color: #218838;
}

#hint-button {
    background-color: #ffc107;
}

#hint-button:hover {
    background-color: #e0a800;
}

.bold {
    font-weight: bold;
}

.info-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#last-result {
    margin-top: 20px;
    font-weight: bold;
}

#credit {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #888;
}

#source-code {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #888;
}

#source-code a {
    color: #888;
    text-decoration: none;
}

#source-code a:hover {
    text-decoration: underline;
}
